<div class="container" ng-controller="IndexController">
    <div class="row row-content">
        <div class="col-xs-12 col-sm-3 col-sm-push-9">
            <p style="padding:20px;"></p>
            <h3 align=center>Our Lipsmacking Culinary Creations</h3>
        </div>
        <div class="col-xs-12 col-sm-9 col-sm-pull-3">
            <div ng-if="!showDish">
                <h3>{{dishMessage}}</h3>
            </div>
            <div class="media" ng-if="showDish">
                <div class="media-left media-middle">
                    <a ui-sref="app.dishdetails({id: topdish.id})">
                        <img class="media-object img-thumbnail" ng-src={{topdish.image}} alt="Uthappizza">
                    </a>
                </div>
                <div class="media-body">
                    <h2 class="media-heading">{{topdish.name}}
                        <span class="label label-danger">{{topdish.label}}</span>
                        <span class="badge">{{topdish.price | currency}}</span>
                    </h2>
                    <p>{{topdish.description}}</p>
                </div>
            </div>
        </div>
    </div>


    <div class="row row-content">
        <div class="col-xs-12 col-sm-3">
            <p style="padding:20px;"></p>
            <h3 align=center>This Month's Promotions</h3>
        </div>
        <div class="col-xs-12 col-sm-9">
            <div ng-if="!showPromotion">
                <h3>{{promotionMessage}}</h3>
            </div>
            <div class="media" ng-if="showPromotion">
                <div class="media-left media-middle">
                    <a ui-sref="app.dishdetails({id: promotion.id})">
                        <img class="media-object img-thumbnail" ng-src={{promotion.image}} alt="Uthappizza">
                    </a>
                </div>
                <div class="media-body">
                    <h2 class="media-heading">{{promotion.name}}
                        <span class="label label-danger">{{promotion.label}}</span>
                        <span class="badge">{{promotion.price | currency}}</span>
                    </h2>
                    <p>{{promotion.description}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-content">
        <div class="col-xs-12 col-sm-3 col-sm-push-9">
            <p style="padding:20px;"></p>
            <h3 align=center>Meet our Culinary Specialists</h3>
        </div>
        <div class="col-xs-12 col-sm-9 col-sm-pull-3">
            <div ng-if="!showExec">
                <h3>{{execMessage}}</h3>
            </div>
            <div class="media" ng-if="showExec">
                <div class="media-left media-middle">
                    <img class="media-object img-thumbnail" ng-src={{exec.image}} alt="Uthappizza">
                </div>
                <div class="media-body">
                    <h2 class="media-heading">{{exec.name}} <small>{{exec.designation}}</small></h2>
                    <p>{{exec.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
